<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

	<title>Motors Directory</title>
</head>

<body>

<div class="container">

	<h3>Motors Directory</h3>

	<p>
		Welcome <span sec:authentication="principal.username"></span>
	</p>

	<a th:href="@{/motors/showAddForm}"
	class="btn btn-info btn-sm">
		Add Motor
	</a>

	<br>
	<br>
	<table class="table table-bordered table-striped">
		<thead class="table-dark">
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Depth</th>
				<th>Type</th>
				<div sec:authorize="hasRole('MANAGER')"><th>Action</th></div>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempMotor: ${motors}">
			
				<td th:text="${tempMotor.firstName}">
				<td th:text="${tempMotor.lastName}">
				<td th:text="${tempMotor.Depth}">
				<td th:text="${tempMotor.Type}">
				<td>
				<div sec:authorize="hasRole('ADMIN')">
				<a th:href="@{/motors/showFormForUpdate(motorId=${tempMotor.id})}"
				class="btn btn-info btn-sm">
					Update
				</a>
				<a th:href="@{/motors/delete(motorId=${tempMotor.id})}"
				   class="btn btn-danger btn-sm"
				   onclick="if (!(confirm('Are you sure you want to delete this motor?'))) return false">
					Delete
				</a>
				</div>

			</td>
				
			</tr>
		</tbody>		
	</table>

	<form action="#" th:action="@{/logout}" method="POST">
		<input class="btn btn-info btn-md" type="Submit" value="Logout" />
	</form>
	
</div>
	
</body>
</html>



